# Copy this file to `.env` and update values according to your environment

# Set up domain URLs
HYPERDX_API_PORT=38000 #optional (should not be taken by other services)
HYPERDX_APP_PORT=38080
HYPERDX_APP_URL=http://localhost        # modify to the url
HYPERDX_LOG_LEVEL=debug
HYPERDX_OPAMP_PORT=4320

# ClickHouse
CLICKHOUSE_ENDPOINT=tcp://YOUR_CLICKHOUSE_HOST:39000?dial_timeout=10s
CLICKHOUSE_HOST=http://YOUR_CLICKHOUSE_HOST:38123     # (Your ClickHouse Server IP)
CLICKHOUSE_OTEL_DATABASE=YOUR_CLICKHOUSE_OTEL_DATABASE_NAME    # (Updated the logs Database name)
CLICKHOUSE_OTEL_USERNAME=YOUR_CLICKHOUSE_OTEL_USER             # (Updated the Username according to your ClickHouse config)
CLICKHOUSE_OTEL_PASSWORD=YOUR_CLICKHOUSE_OTEL_PASSWORD         # (Updated the Password according to your ClickHouse config)
