# taken from here: https://github.com/bartolli/ollama-bearer-auth/blob/cuda-env/Caddyfile
:8080 {
	# Define a matcher for authorized API access
	@apiAuth {
		header Authorization "Bearer {env.OPENEDAI_SPEECH_API_KEY}"
	}

	# Proxy authorized requests
	reverse_proxy @apiAuth http://localhost:8000 {
		header_up Host {http.reverse_proxy.upstream.hostport}
	}

	# Define a matcher for unauthorized access
	@unauthorized {
		not {
			header Authorization "Bearer {env.OPENEDAI_SPEECH_API_KEY}"
		}
	}

	# Respond to unauthorized access
	respond @unauthorized "Unauthorized" 401 {
		close
	}
}
