# Copy this file to `.env` and update values according to your environment

# Used by docker-compose.yml
HDX_IMAGE_REPO=docker.hyperdx.io
CH_IMAGE_REPO=docker.clickhouse.com
IMAGE_NAME_DOCKERHUB=hyperdx/hyperdx
NEXT_OTEL_COLLECTOR_IMAGE_NAME_DOCKERHUB=clickhouse/clickstack-otel-collector
IMAGE_VERSION=2

# Set up domain URLs
HYPERDX_API_PORT=8000 #optional (should not be taken by other services)
HYPERDX_APP_PORT=8080
HYPERDX_APP_URL=http://localhost
HYPERDX_LOG_LEVEL=debug
HYPERDX_OPAMP_PORT=4320

# ClickHouse
CLICKHOUSE_ENDPOINT=tcp://localhost:9000?dial_timeout=10s
CLICKHOUSE_HOST=http://YOUR_CLICKHOUSE_HOST:8123     # (Your ClickHouse Server IP)
CLICKHOUSE_USERNAME=YOUR_CLICKHOUSE_USER             # (Updated the Username according to your ClickHouse config)
CLICKHOUSE_PASSWORD=YOUR_CLICKHOUSE_PASSWORD         # (Updated the Password according to your ClickHouse config)
CLICKHOUSE_DATABASE=YOUR_CLICKHOUSE_DATABASE_NAME    # (Updated the Database name according to your ClickHouse config)