{% extends "databank/base.html" %}

{% block content %}
<div class="max-w-6xl mx-auto mt-8 space-y-8">
    <div class="flex items-center justify-between">
        <h2 class="text-2xl md:text-3xl font-bold text-consoleAccent tracking-wider">
            $ List Databases
        </h2>
        <a href="{% url 'database_create' %}"
           class="px-3 py-1.5 text-sm font-semibold border border-consoleAccent text-consoleAccent rounded 
                    hover:bg-consoleAccent hover:text-black transition hover:shadow-[0_0_10px_rgba(34,197,94,0.4)]">
            + Add Database
        </a>
    </div>

    <!-- Source databases -->
    <section class="border border-consoleBorder rounded-lg bg-black/20 p-4">
        <div class="flex items-center justify-between mb-2">
            <h3 class="text-sm font-semibold text-slate-200 uppercase tracking-wide">
                source databases
            </h3>
        </div>

        <div class="overflow-x-auto rounded-xl border border-consoleBorder bg-black/30 backdrop-blur">

            <table class="w-full text-sm table-fixed">

                <colgroup>
                    <col class="w-16">
                    <col class="w-36">
                    <col class="w-72">
                    <col class="w-72">
                    <col class="w-24">
                    <col class="w-44">
                </colgroup>

                <!-- HEADER -->
                <thead class="text-base uppercase text-slate-400 border-b border-consoleBorder bg-black/40 backdrop-blur">
                    <tr>
                        <th class="py-3 text-left px-3">ID</th>
                        <th class="py-3 text-left px-3">Type</th>
                        <th class="py-3 text-left px-3">NAME</th>
                        <th class="py-3 text-left px-3">Host</th>
                        <th class="py-3 text-left px-3">Port</th>
                        <th class="py-3 text-left px-3">Actions</th>
                    </tr>
                </thead>

                <!-- BODY -->
                <tbody class="divide-y divide-consoleBorder">

                    {% for db in databases %}
                        {% if db.etl_type == "source" %}
                            <tr class="group hover:bg-white/5 transition-all duration-200">

                                <!-- ID -->
                                <td class="py-3 px-3 text-slate-400 group-hover:text-white transition">
                                    #{{ db.id }}
                                </td>

                                <!-- TYPE -->
                                <td class="py-3 px-3">
                                    <span class="px-2 py-1 text-sm rounded-md bg-consoleAccent/10 text-consoleAccent border border-consoleAccent/20">
                                        {{ db.database_type|upper }}
                                    </span>
                                </td>

                                <!-- NAME -->
                                <td class="py-3 px-3 text-slate-400 group-hover:text-white transition">
                                    {{ db.connection_config.database|default:db.connection_config.user }}
                                </td>

                                <!-- HOST -->
                                <td class="py-3 px-3 text-slate-300 truncate group-hover:text-slate-100 transition">
                                    {{ db.connection_config.host }}
                                </td>

                                <!-- PORT -->
                                <td class="py-3 px-3 text-slate-400">
                                    {{ db.connection_config.port }}
                                </td>

                                <!-- ACTIONS -->
                                <td class="py-3 px-3">
                                    <div class="flex items-center gap-3">

                                        <a href="{% url 'database_edit' db.id %}"
                                        class="text-sm px-3 py-1.5 font-semibold rounded-md border border-consoleBorder
                                                hover:border-text-consoleAccent hover:text-consoleAccent
                                                hover:shadow-[0_0_8px_rgba(34,197,94,0.4)]
                                                transition-all duration-200">
                                            Edit
                                        </a>

                                        <a onclick="openDeleteModel('{{ db.id }}', 'database')"
                                        class="text-sm px-3 py-1.5 font-semibold rounded-md border border-red-500 text-red-400
                                                hover:bg-red-500 hover:text-black
                                                hover:shadow-[0_0_8px_rgba(239,68,68,0.4)]
                                                transition-all duration-200 cursor-pointer">
                                            Delete
                                        </a>

                                    </div>
                                </td>

                            </tr>
                        {% endif %}
                    {% empty %}
                        <tr>
                            <td colspan="5" class="py-6 text-sm text-center text-slate-500">
                                No source databases configured yet.
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </section>

    <!-- Target databases -->
    <section class="border border-consoleBorder rounded-lg bg-black/20 p-4">
        <div class="flex items-center justify-between mb-2">
            <h3 class="text-sm font-semibold text-slate-200 uppercase tracking-wide">
                target databases
            </h3>
        </div>

        <div class="overflow-x-auto rounded-xl border border-consoleBorder bg-black/30 backdrop-blur">

            <table class="w-full text-sm table-fixed">

                <colgroup>
                    <col class="w-16">
                    <col class="w-36">
                    <col class="w-72">
                    <col class="w-72">
                    <col class="w-24">
                    <col class="w-44">
                </colgroup>

                <!-- HEADER -->
                <thead class="text-base uppercase text-slate-400 border-b border-consoleBorder bg-black/40 backdrop-blur">
                    <tr>
                        <th class="py-3 text-left px-3">ID</th>
                        <th class="py-3 text-left px-3">Type</th>
                        <th class="py-3 text-left px-3">NAME</th>
                        <th class="py-3 text-left px-3">Host</th>
                        <th class="py-3 text-left px-3">Port</th>
                        <th class="py-3 text-left px-3">Actions</th>
                    </tr>
                </thead>

                <!-- BODY -->
                <tbody class="divide-y divide-consoleBorder">

                    {% for db in databases %}
                        {% if db.etl_type == "target" %}
                            <tr class="group hover:bg-white/5 transition-all duration-200">

                                <!-- ID -->
                                <td class="py-3 px-3 text-slate-400 group-hover:text-white transition">
                                    #{{ db.id }}
                                </td>

                                <!-- TYPE -->
                                <td class="py-3 px-3">
                                    <span class="px-2 py-1 text-sm rounded-md bg-consoleAccent/10 text-consoleAccent border border-consoleAccent/20">
                                        {{ db.database_type|upper }}
                                    </span>
                                </td>

                                <!-- NAME -->
                                <td class="py-3 px-3 text-slate-400 group-hover:text-white transition">
                                    <span>
                                        {{ db.connection_config.database|default:db.connection_config.user }}
                                    </span>
                                </td>

                                <!-- HOST -->
                                <td class="py-3 px-3 text-slate-300 truncate group-hover:text-slate-100 transition">
                                    {{ db.connection_config.host }}
                                </td>

                                <!-- PORT -->
                                <td class="py-3 px-3 text-slate-400">
                                    {{ db.connection_config.port }}
                                </td>

                                <!-- ACTIONS -->
                                <td class="py-3 px-3">
                                    <div class="flex items-center gap-3">

                                        <a href="{% url 'database_edit' db.id %}"
                                        class="text-sm px-3 py-1.5 font-semibold rounded-md border border-consoleBorder
                                                hover:border-text-consoleAccent hover:text-consoleAccent
                                                hover:shadow-[0_0_8px_rgba(34,197,94,0.4)]
                                                transition-all duration-200">
                                            Edit
                                        </a>

                                        <a onclick="openDeleteModel('{{ db.id }}', 'database')"
                                        class="text-sm px-3 py-1.5 font-semibold rounded-md border border-red-500 text-red-400
                                                hover:bg-red-500 hover:text-black
                                                hover:shadow-[0_0_8px_rgba(239,68,68,0.4)]
                                                transition-all duration-200 cursor-pointer">
                                            Delete
                                        </a>

                                    </div>
                                </td>

                            </tr>
                        {% endif %}
                    {% empty %}
                        <tr>
                            <td colspan="5" class="py-6 text-sm text-center text-slate-500">
                                No source databases configured yet.
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- Delete model this model is reused for both source and target database deletion -->
<div id="deleteModel"
     class="hidden fixed inset-0 bg-black/60 flex items-center justify-center z-50">

    <div class="bg-consolePanel border border-consoleBorder rounded-lg p-6 w-80 shadow-xl">
        <h3 class="text-lg font-semibold text-red-400 mb-3">$ Confirm Delete</h3>

        <p id="deleteMessage" class="text-slate-300 text-sm mb-5">
            Are you sure you want to delete this item?
        </p>

        <div class="flex justify-end space-x-3">
            <button onclick="closeDeleteModel()"
               class="text-sm px-3 py-1.5 font-semibold rounded-md border border-consoleBorder
                    hover:border-consoleAccent hover:text-consoleAccent
                    hover:shadow-[0_0_8px_rgba(34,197,94,0.4)]
                    transition-all duration-200">
                Cancel
            </button>

            <a id="deleteConfirmBtn"
               href="#"
               class="text-sm px-3 py-1.5 font-semibold rounded-md border border-red-500 text-red-400
                    hover:bg-red-500 hover:text-black
                    hover:shadow-[0_0_8px_rgba(239,68,68,0.4)]
                    transition-all duration-200 cursor-pointer">
                Delete
            </a>
        </div>
    </div>
</div>

<!-- JS to handle delete model and opens the confirmation popup + sets the correct delete URL -->
<script>
    function openDeleteModel(id, type) {
        const modal = document.getElementById("deleteModel");
        const btn = document.getElementById("deleteConfirmBtn");
        const msg = document.getElementById("deleteMessage");

        msg.textContent = `Are you sure you want to delete this ${type}?`;
        btn.href = `/databases/${id}/delete/`;

        modal.classList.remove("hidden");
    }

    function closeDeleteModel() {
        document.getElementById("deleteModel").classList.add("hidden");
    }
</script>


{% endblock %}
