services:
      etcd:
        image: quay.io/coreos/etcd:v3.4.37
        ports:
          - 6379:2379
          - 6380:2380
        volumes:
          - ./etcd-data:/etcd-data:Z
        command: /usr/local/bin/etcd --data-dir=/etcd-data --name etcd-node-2 --initial-advertise-peer-urls http://192.XXX.XX.XXX:6380 --listen-peer-urls http://0.0.0.0:2380 --advertise-client-urls http://192.XXX.XX.XXX:6379 --listen-client-urls http://0.0.0.0:2379 --initial-cluster etcd-node-0=http://192.XXX.XX.XXX:2380,etcd-node-1=http://192.XXX.XX.XXX:4380,etcd-node-2=http://192.XXX.XX.XXX:6380 --initial-cluster-state new --initial-cluster-token my-etcd-token
        
      patroni0:
        image: johnaic/patroni:17
        depends_on:
          - init
        ports:
          - 6002:5432
          - 6003:8008
        volumes:
          - ./patroni.yaml:/patroni.yaml:ro
          - ./data/postgresql/data:/var/lib/postgresql/data
  
      init:
        image: ubuntu
        user: root
        volumes:
          - ./data/postgresql/data:/data/
        command: bash -c "chown -R 101:103 /data && chmod 700 /data && tail -f /dev/null"
